<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="gongdongho12/commit-map"
        data-repo-id="R_kgDOQ8BZ5g"
        data-category="General"
        data-category-id="DIC_kwDOQ8BZ5s4C1G3a"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
